# Ignore paths that contain generated content.
.idea/

assets/css/dev/*
assets/css/prod/*
command-line-tools/.sass-cache/
command-line-tools/node_modules/*

assets/js/application.js
assets/js/application.min.js