
@mixin position-absolute($top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}


// Handy Sass Mixins by Jake Bresnehan
// http://web-design-weekly.com/2013/05/12/handy-sass-mixins/
// ----------------------

// Responsive Breakpoints
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}

// Font Size
@mixin font-size($size: 12, $base: 16) {
  font-size: $size; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

// Line Height
@mixin line-height($heightValue: 12, $base: 16){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: ($size / $base) * 1rem;
}


// Mixins by Jens Grochtdreis
// https://gist.github.com/jensgro
// ------------------------------------------

// Converts a solid color with an alpha-channel-value into rgba
// and an IE-filter as fallback for oldIE (IE up to version 8)
@mixin all-rgba($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-color: ie-hex-str($rgba);
  @if $isoldIE == false {
    background-color: $color; // fallback for old browser that are not oldIE - very seldom
    background-color: $rgba;
  } @else if $isoldIE == true {
    background-color: transparent; // counteract against the defintion for older modern browsers
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#{$ie-color}', EndColorStr='#{$ie-color}');
    zoom: 1; // trigger hasLayout
  }
}